html {
    font-family: 'neuehaasunicaw1g';
    font-weight: 400;
    font-size: 15px;
}

.wrapper { // wraps all content to one column
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

html,
body {
  position: fixed;
  overflow: hidden;
}