@font-face {
    font-family: 'neuehaasunicaw1g';
    src: url('/fonts/neuehaasunicaw1g-regular.woff') format('woff'),
         url('/fonts/neuehaasunicaw1g-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
