.logo {
    position: absolute;
    right: 40px;
    top: 50px;
    z-index: 1;
    img {
        width: 67px;
    }
}

@media only screen and (max-width: $phone) {
    .logo {
        top: 25px;
        right: 25px;
        img {
            width: 50px;
            display: block;
        }
    }
}