@mixin valignCenter() {
    height: 100%;
    display: flex;
    align-items: center;
}

@mixin alignCenter() {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin respond-to($media) {
    @if $media == phone {
        @media only screen and (max-width: $tablet - 1) { @content; }
    }
    @else if $media == tablet {
        @media only screen and (max-width: $desktop - 1) { @content; }
    }
    @else if $media == desktop {
        @media only screen and (max-width: $large - 1) { @content; }
    }
    @else if $media == large {
        @media only screen and (min-width: $large) { @content; }
    }
}