.panel {
    height: 120px;
    width: 100%;
    background: #000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    &__left {
        width: 30%;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        padding-right: 60px;

        img {
            height: 30px;
        }

        &:after {
            display: block;
            content: '';
            background: #fff;
            width: 2px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -20px;
        }
    }
    &__right {
        padding-left: 60px;
        width: 30%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
}

@media only screen and (max-width: $desktop) {
    .panel {
        &__left,
        &__right {
            width: calc(45% - 60px);
        }
    }
}

@media only screen and (max-width: $tablet) {
    .panel {
        &__left {
            padding-right: 30px;
        }
        &__right {
            padding-left: 30px;
        }
        &__left,
        &__right {
            width: calc(45% - 30px);
        }
    }
}
@media only screen and (max-width: $phone) {
    .panel {
        flex-flow: column-reverse nowrap;
        align-items: center;
        height: 150px;
        z-index: 1;
        position: relative;
        transition: margin .1s;
        &__right {
            margin-bottom: 40px;
        }
        &__left,
        &__right {
            padding: 0;
            width: calc(100% - 20px);
            justify-content: center;
        }
        &__left {
            img {
                height: 25px;
            }
            &:after {
                display: none;
            }
        }
    }
    .swipped-up {
        .panel {
            margin-top: -60px;
        }
    }
}