.scene {
    .swiper-container {
        width: 100vw;
        height: calc(100vh - 120px);
    }

    .swiper-slide {
        position: relative;
    }
    .swiper__image {
        width: 100vw;
        height: calc(100vh - 120px);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .swiper__copy {
        position: absolute;
        right: 40px;
        bottom: 30px;
        z-index: 1;
        a {
            text-decoration: none;
            color: black;
        }
    }

    .swiper-pagination-bullet {
        opacity: 1;
        background: #000;
        border: 2px solid rgba(0,0,0,0);
        width: 8px;
        height: 8px;
    }
    .swiper-pagination-bullet-active {
        background: #FFF;
        border: 2px solid #000;
    }
    .swiper-slides {
        display: none;
    }
}

@media only screen and (max-width: $phone) {
    .scene {
        .swiper-container {
            height: calc(100vh - 60px);
        }
        .swiper__image {
            height: calc(100vh - 60px);
        }
        .swiper__copy {
            transform: rotate(-90deg) translate(70%, 240%);
            transform-origin: center;
            right: 0;
            bottom: 0;
        }
    }
    .scene .swiper__copy,
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        transition: bottom .1s;
    }
    .swipped-up {
        .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
            bottom: 90px;
        }
        .scene .swiper__copy {
            bottom: 60px;
        }
    }
}