.subscription {
    position: relative;
    color: white;

    a {
        color: white;
        &:hover {
            opacity: .5;
        }
    }
    input {
        width: 213px;
        height: 30px;
        border: 0;
        background: white;
        outline: none;
        line-height: 30px;
        padding-left: 7px;
        padding-right: 43px;
        font-size: 18px;
        border-radius: 0 !important;
        color: #999;
    }
    button {
        border: 0;
        width: 30px;
        height: 25px;
        position: absolute;
        right: 7px;
        top: 50%;
        margin-top: -12px;
        background: url('/images/button.svg') no-repeat center;
        background-size: auto 25px;
        opacity: .4;
        outline: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border: 0;
      -webkit-text-fill-color: #000;
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      transition: background-color 5000s ease-in-out 0s;
    }
    &__error,
    &__success {
        display: none;
        font-size: 20px;
        line-height: 30px;
    }

    &_valid_yes input {
        color: #000;
    }
    &_valid_yes button {
        opacity: 1;
    }
    &_sent_yes &__error,
    &_sent_yes &__form {
        display: none;
    }
    &_sent_yes &__success {
        display: block;
    }
    &_error_yes &__success,
    &_error_yes &__form {
        display: none;
    }
    &_error_yes &__error {
        display: block;
    }
}

@media only screen and (max-width: $tablet) {
    .subscription {
        input {
            height: 31px;
            line-height: 31px;
            font-size: 18px;
            background: #3C3C3B;
            color: white;
        }
        button {
            height: 31px;
            width: 30px;
            background-size: 30px 25px;
            margin-top: -15px;
            background: url('/images/button-white.svg') no-repeat center;
            background-size: auto 25px;
        }
        &__error,
        &__success {
            font-size: 18px;
            line-height: 31px;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
          border: 0;
          -webkit-text-fill-color: #fff;
          -webkit-box-shadow: 0 0 0px 1000px #3C3C3B inset;
          transition: background-color 5000s ease-in-out 0s;
        }
    }
}