/* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
--------------------------------------------------------------------------------------- */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'neuehaasunicaw1g';
  src: url("/fonts/neuehaasunicaw1g-regular.woff") format("woff"), url("/fonts/neuehaasunicaw1g-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

html {
  font-family: 'neuehaasunicaw1g';
  font-weight: 400;
  font-size: 15px; }

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0; }

html,
body {
  position: fixed;
  overflow: hidden; }

.scene .swiper-container {
  width: 100vw;
  height: calc(100vh - 120px); }

.scene .swiper-slide {
  position: relative; }

.scene .swiper__image {
  width: 100vw;
  height: calc(100vh - 120px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.scene .swiper__copy {
  position: absolute;
  right: 40px;
  bottom: 30px;
  z-index: 1; }
  .scene .swiper__copy a {
    text-decoration: none;
    color: black; }

.scene .swiper-pagination-bullet {
  opacity: 1;
  background: #000;
  border: 2px solid rgba(0, 0, 0, 0);
  width: 8px;
  height: 8px; }

.scene .swiper-pagination-bullet-active {
  background: #FFF;
  border: 2px solid #000; }

.scene .swiper-slides {
  display: none; }

@media only screen and (max-width: 649px) {
  .scene .swiper-container {
    height: calc(100vh - 60px); }
  .scene .swiper__image {
    height: calc(100vh - 60px); }
  .scene .swiper__copy {
    transform: rotate(-90deg) translate(70%, 240%);
    transform-origin: center;
    right: 0;
    bottom: 0; }
  .scene .swiper__copy,
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    transition: bottom .1s; }
  .swipped-up .swiper-pagination-fraction, .swipped-up .swiper-pagination-custom, .swipped-up .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 90px; }
  .swipped-up .scene .swiper__copy {
    bottom: 60px; } }

.panel {
  height: 120px;
  width: 100%;
  background: #000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch; }
  .panel__left {
    width: 30%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px; }
    .panel__left img {
      height: 30px; }
    .panel__left:after {
      display: block;
      content: '';
      background: #fff;
      width: 2px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -20px; }
  .panel__right {
    padding-left: 60px;
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center; }

@media only screen and (max-width: 1279px) {
  .panel__left, .panel__right {
    width: calc(45% - 60px); } }

@media only screen and (max-width: 1023px) {
  .panel__left {
    padding-right: 30px; }
  .panel__right {
    padding-left: 30px; }
  .panel__left, .panel__right {
    width: calc(45% - 30px); } }

@media only screen and (max-width: 649px) {
  .panel {
    flex-flow: column-reverse nowrap;
    align-items: center;
    height: 150px;
    z-index: 1;
    position: relative;
    transition: margin .1s; }
    .panel__right {
      margin-bottom: 40px; }
    .panel__left, .panel__right {
      padding: 0;
      width: calc(100% - 20px);
      justify-content: center; }
    .panel__left img {
      height: 25px; }
    .panel__left:after {
      display: none; }
  .swipped-up .panel {
    margin-top: -60px; } }

.logo {
  position: absolute;
  right: 40px;
  top: 50px;
  z-index: 1; }
  .logo img {
    width: 67px; }

@media only screen and (max-width: 649px) {
  .logo {
    top: 25px;
    right: 25px; }
    .logo img {
      width: 50px;
      display: block; } }

.subscription {
  position: relative;
  color: white; }
  .subscription a {
    color: white; }
    .subscription a:hover {
      opacity: .5; }
  .subscription input {
    width: 213px;
    height: 30px;
    border: 0;
    background: white;
    outline: none;
    line-height: 30px;
    padding-left: 7px;
    padding-right: 43px;
    font-size: 18px;
    border-radius: 0 !important;
    color: #999; }
  .subscription button {
    border: 0;
    width: 30px;
    height: 25px;
    position: absolute;
    right: 7px;
    top: 50%;
    margin-top: -12px;
    background: url("/images/button.svg") no-repeat center;
    background-size: auto 25px;
    opacity: .4;
    outline: none; }
  .subscription input:-webkit-autofill,
  .subscription input:-webkit-autofill:hover,
  .subscription input:-webkit-autofill:focus
textarea:-webkit-autofill,
  .subscription textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
  .subscription select:-webkit-autofill,
  .subscription select:-webkit-autofill:hover,
  .subscription select:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s; }
  .subscription__error, .subscription__success {
    display: none;
    font-size: 20px;
    line-height: 30px; }
  .subscription_valid_yes input {
    color: #000; }
  .subscription_valid_yes button {
    opacity: 1; }
  .subscription_sent_yes .subscription__error,
  .subscription_sent_yes .subscription__form {
    display: none; }
  .subscription_sent_yes .subscription__success {
    display: block; }
  .subscription_error_yes .subscription__success,
  .subscription_error_yes .subscription__form {
    display: none; }
  .subscription_error_yes .subscription__error {
    display: block; }

@media only screen and (max-width: 1023px) {
  .subscription input {
    height: 31px;
    line-height: 31px;
    font-size: 18px;
    background: #3C3C3B;
    color: white; }
  .subscription button {
    height: 31px;
    width: 30px;
    background-size: 30px 25px;
    margin-top: -15px;
    background: url("/images/button-white.svg") no-repeat center;
    background-size: auto 25px; }
  .subscription__error, .subscription__success {
    font-size: 18px;
    line-height: 31px; }
  .subscription input:-webkit-autofill,
  .subscription input:-webkit-autofill:hover,
  .subscription input:-webkit-autofill:focus
textarea:-webkit-autofill,
  .subscription textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
  .subscription select:-webkit-autofill,
  .subscription select:-webkit-autofill:hover,
  .subscription select:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #3C3C3B inset;
    transition: background-color 5000s ease-in-out 0s; } }
